In [1]:
import numpy as np
import pandas as pd
data = pd.read_csv('Dataset/train.csv',usecols=['X1','X2','X3','X4','X5','X6'] )

In [2]:
data.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [3]:
for col in data.columns:
    print (col,':',len(data[col].unique()))

X1 : 27
X2 : 44
X3 : 7
X4 : 4
X5 : 29
X6 : 12

In [4]:
pd.get_dummies(data,drop_first=True).shape

(4209, 117)

In [5]:
data.X2.value_counts().sort_values(ascending=False).head(10)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
Name: X2, dtype: int64

In [6]:
top_10_X2 = [x for x in data.X2.value_counts().sort_values(ascending = False).head(10).index]

In [7]:
for label in top_10_X2:
    data[label] = np.where(data['X2'] == label ,1,0)
data

     X1  X2 X3 X4  X5 X6  as  ae  ai  m  ak  r  n  s  f  e
0     v  at  a  d   u  j   0   0   0  0   0  0  0  0  0  0
1     t  av  e  d   y  l   0   0   0  0   0  0  0  0  0  0
2     w   n  c  d   x  j   0   0   0  0   0  0  1  0  0  0
3     t   n  f  d   x  l   0   0   0  0   0  0  1  0  0  0
4     v   n  f  d   h  d   0   0   0  0   0  0  1  0  0  0
...  ..  .. .. ..  .. ..  ..  ..  .. ..  .. .. .. .. .. ..
4204  s  as  c  d  aa  d   1   0   0  0   0  0  0  0  0  0
4205  o   t  d  d  aa  h   0   0   0  0   0  0  0  0  0  0
4206  v   r  a  d  aa  g   0   0   0  0   0  1  0  0  0  0
4207  r   e  f  d  aa  l   0   0   0  0   0  0  0  0  0  1
4208  r  ae  c  d  aa  g   0   1   0  0   0  0  0  0  0  0

[4209 rows x 16 columns]

In [8]:
data['as']

0       0
1       0
2       0
3       0
4       0
       ..
4204    1
4205    0
4206    0
4207    0
4208    0
Name: as, Length: 4209, dtype: int32

# now we will do the same thing above within a funciton

In [9]:
def one_hot_encode(df,variable):
    #first we need to count top 10 variable
    top_10 = [x for x in df[variable].value_counts().sort_values(ascending=False).head(10).index]
    #then we need to add the columns with the dataframe
    for label in top_10:
        df[variable+'_'+label] = np.where(df[variable] == label ,1,0)

data = pd.read_csv('Dataset/train.csv',usecols = ['X1','X2','X3','X4','X5','X6'])

for i in data.columns:
    one_hot_encode(data,i)
data

,X1,X2,X3,X4,X5,X6,X1_aa,X1_s,X1_b,X1_l,...,X6_g,X6_j,X6_d,X6_i,X6_l,X6_a,X6_h,X6_k,X6_c,X6_b
0,v,at,a,d,u,j,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,t,n,f,d,x,l,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,v,n,f,d,h,d,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,s,as,c,d,aa,d,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
4205,o,t,d,d,aa,h,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4206,v,r,a,d,aa,g,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4207,r,e,f,d,aa,l,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4208,r,ae,c,d,aa,g,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [10]:
df_ = pd.read_csv('Dataset/train.csv',usecols = ['X1','X2','X3','X4','X5','X6'])

In [11]:
dummies = pd.get_dummies(df_)

In [1]:
dummies

NameError: name 'dummies' is not defined

In [ ]:
def balanced_par(a)